@import "tailwindcss";

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-oleo: 'Oleo Script', cursive;
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-rouge-script: 'Rouge Script', cursive;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-oleo {
  font-family: var(--font-oleo);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-rouge-script {
  font-family: var(--font-rouge-script);
}
